<%- include("header"); -%>

<div class="sneaker">
  <div class="navbar">
    <form class="navform" action="/'sneaker.id'" method="get">

    </form>
  </div>
  <div class="catalogue">

  </div>

</div>

<%- include("footer"); -%>
